
html, body {
    height: 100%;
    font-family: "Inconsolata";
    box-sizing: border-box;
}

.main-continaer {
    height: 100vh;

    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    /* grid-template-rows: 1fr 1fr 1fr; */
}

header, footer {
    grid-column:1/3;
}

header > p {
    display: inline-block;
    margin: 20px 0 0 20px;
    /* margin-top: 20px; */
    /* margin-left: 20px; */
}

.img-container {
    display: flex;
    justify-content: center;
}
/* text area */
.text-area {
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h1 {
    font-size: 3.5em;
}
button {
    display: inline-block;
    width: 200px;
    padding: 12px;

    justify-self: center;
    background-color: #333;
    color: white;
    font-size: .7em;
}
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin: auto auto 0 auto; */
}
footer > p {
    font-size: small;
    color: gray;
}

@media screen and (max-width: 768px) {
    /* body {
        background-color: red;
    } */
    /* html, body {
        height: inherit;
    } */
    .main-continaer {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        /* grid-template-rows: 1fr 1fr 1fr; */
    }
    header, footer {
        grid-column:1/2;
    }
    .text-area {
        margin: 0 10px;
    }
    button {
        margin-top: 15px;
    }
}
